ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

dl,
dd,
h1,
h2,
h3,
h4,
h5,
p,
figure {
    margin: 0;
}

a {
    text-decoration: none !important;
}

video {
    background: #000;
}

textarea {
    resize: none;
}
